@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,200;1,300;1,400;');
:root{
    --light-color:  #EEEEEE;
    --dark-color:  #393E46;
    --darker-color:  #222831;
    --secondary-color: #FD7013 ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1 rem = 16px
1 rem = 10px */

html{
    font-size: 62.5%;
}
body,html{
font-family: Poppins, sans-serif;
font-weight: 300;
line-height: 1.4;
scroll-behavior: smooth;
color: #EEEEEE;
}
body{
    font-size: 1.4rem;
}

/* =========
    Header
   =========*/

.container{

    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}
header{
    background: var(--dark-color);
    padding: 2rem;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
a{
    text-decoration: none;
    color: var(--light-color);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav li{
    font-size: 2rem;
    border-bottom: 0.3rem solid transparent;
    transition: 0.3s ease-in-out;
     }
    nav li:hover{
        border-bottom: 0.3rem solid  var(--secondary-color);
        transition: 0.3s ease-in-out;
    }
    #hero{
        background: var(--darker-color);
        padding: 4rem;
        border-bottom: 10px solid var(--dark-color);
    }
    .hero-image img{
        width: 30rem;
        border-radius: 14rem;
    }
    #hero .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero-content{

        display: grid;
        place-items: center;
    }
    #hero h1{
        font-size: 3rem;
        font-weight: bold;
    }
    .hi-text{
        font-size: 5rem;
        font-weight: bold;
        color: var(--secondary-color);
    }
    .name-text{
        font-size: 4rem;
    }
    #hero h2{
        font-size: 4rem;
        font-weight: bold;

        overflow: hidden;
        border-right: 0.15em solid var(--secondary-color); /* the type-writer cursor */
        white-space: nowrap;
        margin: 0 auto;
        animation: typing 5s steps(40, end),
        blink-caret 0.75s step-end infinite;
    }
    @keyframes typing{
        from{
            width: 0;
        }
        to {
            width: 100%;
        }
          }
    @keyframes blink-caret{
        from,to{
            border-color: transparent;
          }
          50%{
            border-color: #FD7013;
          }
    }

/* ============
    Section-2
   ============ */
/* Projects Section */

#projects{
background: var(--darker-color);
border-bottom:10px solid var(--dark-color);
padding-bottom: 4rem;
}

#projects h2{

    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px ;
}
.grid-item img{
    width: 35rem;
    height: 40rem;
}
.project-container{

    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: center;
}

.grid-item{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 2rem;
}
.card{
    /* border: 1px solid blue; */
    width: 35rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card-content{
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.3s ease-in-out;
    transform: translateY(100px);
}
.card:hover .card-content{
    background: var(--darker-color);
    color: var(--light-color);
    border:2px solid var(--darker-color);
    text-align: center;
    transform: translateY(0px);
}

/* ============
    Section-3 
   ============ */
/* Contact Section */

#contact{
background: var(--darker-color);
/* border-bottom: 10px solid var(--dark-color); */
}
#contact h2{
    /* border: 1px solid red; */
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}
#contact 
.container{
    /* border: 1px solid green; */
    height: 50vh;
    padding-top: 25px;
    dispaly: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}
.top-contact{
    /* border: 1px solid blue; */
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.contact-way{
    display: flex;
    /* gap: 1rem; */
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
/* .contact-way a{
    border: 1px solid blue;
   cursor: pointer;
} */
.contact-way i{
font-size: 2.5rem;

}
.contact-way h3{
    font-size: 2rem;
    font-weight: bold;
    font-family: Poppins;
    display: inline;
    margin-left: 5px;
}
.bottom-contact{
    /* border: 1px solid green; */
    max-width: 400px;
    gap: 1rem;
    display: grid;
    margin: 30px auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

/* ============
      Footer
   ============ */

footer{
    background: var(--dark-color);
    padding: 3rem;
    color: var(--light-color);
    font-size: 1.6rem;
    text-align: center;
}















